<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eTFSELECTOR</title>
    <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/logo/favicon.png">
    
    <link rel="stylesheet" href="{{url_for('static',filename='./css/styles.css')}}">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/js/chartjs/dist/chart.umd.js"></script>
    
    <style>
        /* 设置表格的固定布局 */
        table {
            table-layout: fixed;
            width: 100%; /* 设置表格宽度为100% */
        }
    
        /* 如果你希望表格的每一列都具有相同的高度，可以使用以下样式 */
        table tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }
    
        /* 样式可以根据你的需求进行调整 */
        table td {
            border: 1px solid #ddd; /* 添加边框样式 */
            padding: 8px; /* 设置单元格内边距 */
            overflow: hidden; /* 控制溢出内容的处理，可以根据需要修改 */
            text-overflow: ellipsis; /* 超出部分显示省略号 */
            white-space: nowrap; /* 不换行 */
        }
    </style>
</head>
<body class="bg-light">
    <nav class="navbar p-4 navbar-expand-md navbar-dark bg-dark">
        <div class="container" id="pageTop">
            <a class="navbar-brand" href="{{url_for('index')}}">
                <img src="../static/assets/logo/favicon.png" class="mb-2" width="30" height="30" alt="...">
                <b>eTFSELECTOR</b>
            </a>
            <button class="navbar-toggler" id="hamburger" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse border-start border-white border-2 ps-2" id="navbarSupportedContent">
                <ul class="navbar-nav text-white">
                  <li class="nav-item" id="nav-link1">
                    <a class="nav-link" aria-current="page" href="{{url_for('get_table_data')}}">ETF 成分股比較</a>
                  </li>
                  <li class="nav-item" id="nav-link2">
                    <a class="nav-link" href="{{url_for('get_chart_data')}}">ETF 報酬績效圖</a>
                  </li>
                  <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li> -->
                </ul>
                <!-- <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->
            </div>
        </div>
    </nav>
    <main>
        <div class="container mt-4">
            <div class="container" style="background-color: whitesmoke;">
                <div class="container p-4">
                    <h1 class="dispaly-5">ETF 主題熱搜</h1>
                    <hr/>
                    <h5 class="text-danger">點擊主題後下方送出看報酬率!</h5>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" 
                        onclick="check(this.value)" value='{"stock1":"00891","stock2":"00913","stock3":"00927"}'
                        checked>
                        <label class="btn btn-outline-primary p-3" for="btnradio1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-cpu" viewBox="0 0 16 16">
                                <path d="M5 0a.5.5 0 0 1 .5.5V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2A2.5 2.5 0 0 1 14 4.5h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14a2.5 2.5 0 0 1-2.5 2.5v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14A2.5 2.5 0 0 1 2 11.5H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2A2.5 2.5 0 0 1 4.5 2V.5A.5.5 0 0 1 5 0m-.5 3A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3zM5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5zM6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5z"/>
                                </svg>
                            <br/>最夯半導體
                        </label>
                        
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off"
                        onclick="check(this.value)" value='{"stock1":"00876","stock2":"00881","stock3":"00910"}'
                        >
                        <label class="btn btn-outline-primary p-3" for="btnradio2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-router" viewBox="0 0 16 16">
                                <path d="M5.525 3.025a3.5 3.5 0 0 1 4.95 0 .5.5 0 1 0 .707-.707 4.5 4.5 0 0 0-6.364 0 .5.5 0 0 0 .707.707Z"/>
                                <path d="M6.94 4.44a1.5 1.5 0 0 1 2.12 0 .5.5 0 0 0 .708-.708 2.5 2.5 0 0 0-3.536 0 .5.5 0 0 0 .707.707ZM2.5 11a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m4.5-.5a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0m2.5.5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m1.5-.5a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0m2 0a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0"/>
                                <path d="M2.974 2.342a.5.5 0 1 0-.948.316L3.806 8H1.5A1.5 1.5 0 0 0 0 9.5v2A1.5 1.5 0 0 0 1.5 13H2a.5.5 0 0 0 .5.5h2A.5.5 0 0 0 5 13h6a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5h.5a1.5 1.5 0 0 0 1.5-1.5v-2A1.5 1.5 0 0 0 14.5 8h-2.306l1.78-5.342a.5.5 0 1 0-.948-.316L11.14 8H4.86L2.974 2.342ZM14.5 9a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5z"/>
                                <path d="M8.5 5.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
                                </svg>
                            <br/>5G通訊衛星
                        </label>
                        
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off"
                        onclick="check(this.value)" value='{"stock1":"00895","stock2":"00896","stock3":"00925"}' 
                        >
                        <label class="btn btn-outline-primary p-3" for="btnradio3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-ev-front" viewBox="0 0 16 16">
                                <path d="M9.354 4.243a.188.188 0 0 0-.085-.218.186.186 0 0 0-.23.034L6.051 7.246a.188.188 0 0 0 .136.316h1.241l-.673 2.195a.188.188 0 0 0 .085.218c.075.043.17.03.23-.034l2.88-3.187a.188.188 0 0 0-.137-.316H8.572z"/>
                                <path d="M4.819 2A2.5 2.5 0 0 0 2.52 3.515l-.792 1.848a.807.807 0 0 1-.38.404c-.5.25-.855.715-.965 1.262L.05 8.708a2.5 2.5 0 0 0-.049.49v.413c0 .814.39 1.543 1 1.997V13.5a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1.338c1.292.048 2.745.088 4 .088s2.708-.04 4-.088V13.5a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1.892c.61-.454 1-1.183 1-1.997v-.413c0-.165-.016-.329-.049-.49l-.335-1.68a1.807 1.807 0 0 0-.964-1.261.807.807 0 0 1-.381-.404l-.792-1.848A2.5 2.5 0 0 0 11.181 2H4.82ZM3.44 3.91A1.5 1.5 0 0 1 4.82 3h6.362a1.5 1.5 0 0 1 1.379.91l.792 1.847a1.8 1.8 0 0 0 .853.904c.222.112.381.32.43.564l.336 1.679c.02.097.029.195.029.294v.413a1.48 1.48 0 0 1-1.408 1.484c-1.555.07-3.786.155-5.592.155-1.806 0-4.037-.084-5.592-.155A1.479 1.479 0 0 1 1 9.611v-.413c0-.099.01-.197.03-.294l.335-1.68a.807.807 0 0 1 .43-.563c.383-.19.685-.511.853-.904l.792-1.848Z"/>
                                </svg>
                            <br/>電動車時代
                        </label>
    
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off"
                        onclick="check(this.value)" value='{"stock1":"00692","stock2":"00850","stock3":"00920"}'
                        >
                        <label class="btn btn-outline-primary p-3" for="btnradio4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-droplet" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
                                <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87z"/>
                                </svg>
                            <br/>永續ESG
                        </label>
    
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off"
                        onclick="check(this.value)" value='{"stock1":"00646","stock2":"00757","stock3":"00830"}'
                        >
                        <label class="btn btn-outline-primary p-3" for="btnradio5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-trophy" viewBox="0 0 16 16">
                                <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5m.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935M3.504 1c.007.517.026 1.006.056 1.469.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.501.501 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667.03-.463.049-.952.056-1.469H3.504z"/>
                                </svg>
                            <br/>得獎ETF
                        </label>
    
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off"
                        onclick="check(this.value)" value='{"stock1":"00679B","stock2":"00696B","stock3":"00761B"}'
                        >
                        <label class="btn btn-outline-primary p-3" for="btnradio6">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                                <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518z"/>
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11m0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12"/>
                                </svg>
                            <br/>海外債券
                        </label>
                    </div>
                </div>
                <div class="container p-4">
                    <h1 class="dispaly-5">ETF 篩選面板 </h1>
                    <hr/>
                        <h5 class="text-danger">挑選完3組ETF後點選送出即可得到基本資訊比較！</h5>
                        <form method="post">
                            <div class="container p-0 mb-3">
                                <label for="stock1" class="form-label fs-4">ETF 候選1號:</label>
                                <input class="form-control" list="options" id="stock1" name="stock1">
                                    <datalist id="options">
                                        {% for option in options %}
                                            <option value="{{ option }}" {% if option == stock1 %}selected{% endif %}>{{ option }}</option>
                                        {% endfor %}
                                    </datalist>
                                </input>
                            </div>
                            <div class="container p-0 mb-3">
                                <label for="stock2" class="form-label fs-4">ETF 候選2號:</label>
                                <input class="form-control" list="options" id="stock2" name="stock2">
                                    <datalist id="options">
                                        {% for option in options %}
                                            <option value="{{ option }}" {% if option == stock2 %}selected{% endif %}>{{ option }}</option>
                                        {% endfor %}
                                    </datalist>
                                </input>
                            </div>
                            
                            <div class="container p-0 mb-3">
                                <label for="stock3" class="form-label fs-4">ETF 候選3號:</label>
                                <input class="form-control" list="options" id="stock3" name="stock3">
                                    <datalist id="options">
                                        {% for option in options %}
                                            <option value="{{ option }}" {% if option == stock3 %}selected{% endif %}>{{ option }}</option>
                                        {% endfor %}
                                    </datalist>
                                </input>
                            </div>
                        
                            <button type="submit" class="btn btn-primary mb-3">送出</button>
                        </form>
                </div>
            </div>
            <hr/>
        
            <div class="container">
                <div class="row h-100 gap-4">
                    <!-- table1 -->
                    <div class="col h-100 shadow">
                        <div class="table-responsive align-top">
                            <table class="table table-bordered table-hover">
                                <caption class="text-end text-light">統計截止2023.12.18</caption>
                                <tr class="table-primary text-center display-6"><th colspan="3">{{stock1}}</th></tr>
                                {% for d in etf1_name %}
                                <tr>
                                    <td>ETF 名稱</td>
                                    <td colspan="2">{{d['stock_name']}} </td>
                                </tr>
                                {% endfor %}
                                {% for d in etf1_value %}
                                <tr>
                                    <td>追蹤標的</td>
                                    <td colspan="2">{{d['追蹤標的']}}</td>
                                </tr>
                                <tr>
                                    <td>市價</td>
                                    <td colspan="2">{{d['市價']}}</td>
                                </tr>
                                <tr>
                                    <td>淨值</td>
                                    <td colspan="2">{{d['淨值']}}</td>
                                </tr>
                                <tr>
                                    <td>成交量</td>
                                    <td colspan="2">{{d['成交量']}}</td>
                                </tr>
                                {% endfor %}
                        
                                {% for d in etf1_dividend %}
                                <tr>
                                    <td>配息</td>
                                    <td colspan="2">{{d['配息']}} </td>
                                </tr>
                                <tr>
                                    <td>配息頻率</td>
                                    <td colspan="2">{{d['配息頻率']}} </td>
                                </tr>
                                {% endfor %}
                        
                                {% for d in etf1_operate %}
                                <tr>
                                    <td>年報酬率(含息)</td>
                                    <td colspan="2">{{d['年報酬率(含息)']}}</td>
                                </tr>
                                <tr>
                                    <td>內扣費用</td>
                                    <td colspan="2">{{d['內扣費用']}}%</td>
                                </tr>
                                <tr>
                                    <td>受益人數</td>
                                    <td colspan="2">{{d['受益人數']}}</td>
                                </tr>
                                <tr>
                                    <td>成立年齡</td>
                                    <td colspan="2">{{d['成立年齡']}}</td>
                                </tr>
                                {% endfor %}
                        
                                <tr class="table-warning">
                                    <th scope="row">#</th>
                                    <th scope="row">前十大持股</th>
                                    <th scope="row">持股比例</th>
                                </tr>
                                {% for d in etf1_components %}
                                <tr>
                                    <td>{{loop.index}} </td>
                                    <td>{{d['name']}}</td>
                                    <td>{{d['weighting']}}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
        
                    <!-- table2 -->
                    <div class="col h-100 shadow">
                        <div class="table-responsive align-top">
                            <table class="table table-bordered table-hover">
                                <caption class="text-end text-light">統計截止2023.12.18</caption>
                                <tr class="table-primary text-center display-6"><th colspan="3">{{stock2}}</th></tr>
                                {% for d in etf2_name %}
                                <tr>
                                    <td>ETF 名稱</td>
                                    <td colspan="2">{{d['stock_name']}} </td>
                                </tr>
                                {% endfor %}
                
                                {% for d in etf2_value %}
                                <tr>
                                    <td>追蹤標的</td>
                                    <td colspan="2">{{d['追蹤標的']}}</td>
                                </tr>
                                <tr>
                                    <td>市價</td>
                                    <td colspan="2">{{d['市價']}}</td>
                                </tr>
                                <tr>
                                    <td>淨值</td>
                                    <td colspan="2">{{d['淨值']}}</td>
                                </tr>
                                <tr>
                                    <td>成交量</td>
                                    <td colspan="2">{{d['成交量']}}</td>
                                </tr>
                                {% endfor %}
                
                                {% for d in etf2_dividend %}
                                <tr>
                                    <td>配息</td>
                                    <td colspan="2">{{d['配息']}} </td>
                                </tr>
                                <tr>
                                    <td>配息頻率</td>
                                    <td colspan="2">{{d['配息頻率']}} </td>
                                </tr>
                                {% endfor %}
                
                                {% for d in etf2_operate %}
                                <tr>
                                    <td>年報酬率(含息)</td>
                                    <td colspan="2">{{d['年報酬率(含息)']}}</td>
                                </tr>
                                <tr>
                                    <td>內扣費用</td>
                                    <td colspan="2">{{d['內扣費用']}}%</td>
                                </tr>
                                <tr>
                                    <td>受益人數</td>
                                    <td colspan="2">{{d['受益人數']}}</td>
                                </tr>
                                <tr>
                                    <td>成立年齡</td>
                                    <td colspan="2">{{d['成立年齡']}}</td>
                                </tr>
                                {% endfor %}
                
                                <tr class="table-warning">
                                    <th scope="row">#</th>
                                    <th scope="row">前十大持股</th>
                                    <th scope="row">持股比例</th>
                                </tr>
                                {% for d in etf2_components %}
                                <tr>
                                    <td>{{loop.index}} </td>
                                    <td>{{d['name']}}</td>
                                    <td>{{d['weighting']}}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        
                    </div>
                    
                    <!-- table3 -->
                    <div class="col shadow">
                        <div class="table-responsive align-top">
                            <table class="table table-bordered table-hover">
                                <caption class="text-end">統計截止2023.12.18</caption>
                                <tr class="table-primary text-center display-6"><th colspan="3">{{stock3}}</th></tr>
                                {% for d in etf3_name %}
                                <tr>
                                    <td>ETF 名稱</td>
                                    <td colspan="2">{{d['stock_name']}} </td>
                                </tr>
                                {% endfor %}
                
                                {% for d in etf3_value %}
                                <tr>
                                    <td>追蹤標的</td>
                                    <td colspan="2">{{d['追蹤標的']}}</td>
                                    <!-- <td colspan="2">臺灣指數公司特選臺灣上市上櫃FactSet 5G+通訊指數</td> -->
                                </tr>
                                <tr>
                                    <td>市價</td>
                                    <td colspan="2">{{d['市價']}}</td>
                                </tr>
                                <tr>
                                    <td>淨值</td>
                                    <td colspan="2">{{d['淨值']}}</td>
                                </tr>
                                <tr>
                                    <td>成交量</td>
                                    <td colspan="2">{{d['成交量']}}</td>
                                </tr>
                                {% endfor %}
                
                                {% for d in etf3_dividend %}
                                <tr>
                                    <td>配息</td>
                                    <td colspan="2">{{d['配息']|default('N/A')}} </td>
                                </tr>
                                <tr>
                                    <td>配息頻率</td>
                                    <td colspan="2">{{d['配息頻率']|default('N/A')}} </td>
                                </tr>
                                {% endfor %}
                
                                {% for d in etf3_operate %}
                                <tr>
                                    <td>年報酬率(含息)</td>
                                    <td colspan="2">{{d['年報酬率(含息)']}}</td>
                                </tr>
                                <tr>
                                    <td>內扣費用</td>
                                    <td colspan="2">{{d['內扣費用']}}%</td>
                                </tr>
                                <tr>
                                    <td>受益人數</td>
                                    <td colspan="2">{{d['受益人數']}}</td>
                                </tr>
                                <tr>
                                    <td>成立年齡</td>
                                    <td colspan="2">{{d['成立年齡']}}</td>
                                </tr>
                                {% endfor %}
                
                                <tr class="table-warning">
                                    <th scope="row">#</th>
                                    <th scope="row">前十大持股</th>
                                    <th scope="row">持股比例</th>
                                </tr>
                                {% for d in etf3_components %}
                                <tr>
                                    <td>{{loop.index}} </td>
                                    <td>{{d['name']}}</td>
                                    <td>{{d['weighting']}}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>    
                </div> 
            </div>
        </div>
    </main>

    <!-- footer -->
    <footer class="footer p-0 bg-dark text-bg-dark mt-4" style="height: 250px;">
        <div class="container text-light fw-light text-center pt-2" style="height: 250px;">
          <span class="align-middle">
            資料來源参考：玩股網、公開資訊觀測站、台灣證券交易所、Yahoo Finance、Finmind API。
            本站提供之分析資料、選ETF工具僅供參考，不暗示買賣建議，
            本站對資訊正確、更新延誤或傳輸中斷不負任何責任，
            依本站資訊交易發生損失需自行負責，請謹慎評估風險。(eTFSELECTOR免責聲明)
          </span>
          <br/>
          <hr/>
          <div class="align-bottom mt-4 p-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
            </svg>
            <a class="p-5 rounded link-light" href="#pageTop" id="goTopText">回頂部</a>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
            </svg>
          </div>
          
        </div>  
    </footer>

    <script>
        function check(option) {
          var optionJson = JSON.parse(option)
          console.log(optionJson)
          document.getElementById("stock1").value=optionJson.stock1;
          document.getElementById("stock2").value=optionJson.stock2;
          document.getElementById("stock3").value=optionJson.stock3;
        }
    </script>

</body>
</html>