<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/js/chartjs/dist/chart.umd.js"></script>

    <title>eTFSELECTOR</title>
    <style>
      #container1 {
        background-color: #80869f;
        padding: 2em;
      }
      #container2 {
        background-color: #f0c9b4;
        padding: 2em;
      }
      #container3 {
        background-color: #875852;

      }
      .maincontent {
        /* margin-bottom: 5em; */
      }
      
    </style>
</head>
<body class="bg-light">
    <nav class="navbar p-4 navbar-expand-md navbar-dark bg-dark">
          <div class="container-fluid">
              <a class="navbar-brand" href="#">
                  <img src="../static/assets/logo/favicon.png" class="mb-2" width="30" height="30" alt="...">
                  eTFSELECTOR
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mx-auto mb-2 mb-lg-0 text-white">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                    </li>
                  </ul>
                  <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
              </div>
          </div>
      </nav>

    <!-- content1 -->
    <main class="maincontent" id="maincontent">
      <div class="container-fluid fill g-0" id="container0">
            <div class="card bg-dark text-white">
              <img src="../static/assets/unsplash1.jpg" class="card-img img-fluid" alt="...">
              <div class="card-img-overlay">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text">Last updated 3 mins ago</p>
              </div>
            </div>
      </div>


      <!-- content1.5 -->
      <div class="container-fluid fill" id="container1">
        <div class="row" id="row1">
          <span class="title text-center">
            <h1 class="display-4">ETF 規模大幅成長</h1>
          </span>
          <div class="row justify-content-md-center">
            <div class="chart-container col-md-auto" style="height:40vh; width:80vw; background-color: whitesmoke;">
              <canvas id="etfGrowChart"></canvas>
            </div>
          </div>
        </div>
      </div>

      <!-- content2 -->
      <div class="container-fluid" id="container2">
        <div class="row justify-content-md-center">
          <div class="col-md-auto">
            <h1 class="display-4">為什麼需要ETF</h1>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-auto">
            <figure style="background-color: white;">
              <blockquote class="blockquote">
                <p>指數型基金確實沒有什麼大不了，但他條理分明、紀律嚴謹、必要時會進行再平衡作業、透明、低週轉率、低成本、不太需要維護等，這是優秀基金經理人難以打敗指數型基金的原因之一。</p>
              </blockquote>
              <figcaption class="blockquote-footer">
                Ben Calson (Bloomberg 專欄作家)<cite title="A Wealth of Common Sense:Why Simplicity Trumps Complexity in Any Investment Plan."></cite>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>

      <!-- content3 -->
      <div class="container-fluid fill" id="container3">
        <div class="row justify-content-md-center">
          <div class="col-md-auto">
            <h1 class="display-4">ETF 主題分類</h1>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-2" style="border: 1px solid black;">.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/></div>
            <div class="col-sm-10" style="border: 1px solid black;">
              <div class="row row-cols-2 row-cols-md-3 g-4" style="padding: 3em;">
                <div class="col">
                  <div class="card p-2 h-100">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">半導體</h5>
                        <p class="card-text">半導體相關ETF</p>
                      </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card p-2 h-100">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">半導體</h5>
                        <p class="card-text">半導體相關ETF</p>
                      </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card p-2 h-100">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">半導體</h5>
                        <p class="card-text">半導體相關ETF</p>
                      </div>
                  </div>
                </div>
              
                
              
              
                
              </div>
            </div>
        </div>
      </div>
    </main>

    <!-- footer -->
    <footer class="footer p-5 bg-dark text-bg-dark">
        Text is a lovely thing.
    </footer>

    <script>
      $(document).ready(function () {

      var etfCapital     = [1360,1586,2043,2883,3335,3976,3894,5430,8432,11715];
      var etfTransaction = [2817,4323,16290,16783,11037,16853,17158,23066,23898,29360];
      var year           = [2013,2014,2015,2016,2017,2018,2019,2020,2021,2022]

      var ctx = document.getElementById("etfGrowChart");
      var populationChart = new Chart(ctx, {
          type: "bar",
          data: {
              labels: year,  // 共用的 X 軸項目清單
              datasets: [
                  {label: "ETF 資產規模",
                      data: etfCapital,
                      backgroundColor: "rgba(14,72,100,0.2)",
                      borderColor: "rgba(14,72,100,1.0)",
                      borderWidth: 1,
                      yAxisID: 'y1'  // 指定使用哪個 Y 軸
                  },
                  {label: "ETF 成交金額",
                      type:'line',
                      data: etfTransaction,
                      backgroundColor: "rgba(255,99,132,0.2)",
                      borderColor: "rgba(255,99,132,1.0)",
                      borderWidth: 1,
                      yAxisID: 'y2'  // 指定使用哪個 Y 軸
                  }
              ]
          },
          options: {
              scales: {
                  x: [{
                      type: 'time',
                      position: 'bottom'
                  }],
                  y1:{
                    type:'linear',
                    display:true,
                    title:{
                      display:true,
                      text: '資產規模(億元)',
                      // color: '#282429',
                      font: {
                        // family: 'Times',
                        // size: 20,
                        // style: 'normal',
                        lineHeight: 1.2
                      },
                    },
                    position:'left'
                    
                  },
                  y2:{
                    type:'linear',
                    display:true,
                    title:{
                      display:true,
                      text: '成交金額(億元)',
                      // color: '#282429',
                      font: {
                        // family: 'Times',
                        // size: 20,
                        // style: 'normal',
                        lineHeight: 1.2
                      },
                    },
                    position:'right',
                  }
              },
              plugins:{
                tooltip: {
                  callbacks: {
                      label: function (context) {
                        let label = context.dataset.label || '';
                        if (label) {
                            label += ': ';
                        }
                        if (context.parsed.y !== null) {
                            label += new Intl.NumberFormat('zh-TW', { style: 'currency', currency: 'NTD'}).format(context.parsed.y);
                            label += ' 億元'
                        }
                        return label;
                      }
                  }
                }
            }
          }
      });
    });

    </script>
</body>
</html>